* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: black;
    text-align: center;
    line-height: 1.5;
}

.intro header {
    font-size: 30px;
}
.intro p {
    font-size: 19px;
}

header {
    font-family: 'Gayathri', sans-serif;
    font-size: 20px;
}

.wrapper p {
    font-family: 'Muli', sans-serif;
    font-size: 17px; 
    line-height: .5;
}

section #first {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
}

section:nth-child(even) {
    background-color: #ddd;
}

form .actions {
    list-style: none;
}

form input {
    border-color: rgba(128, 128, 128, 0.801);
    border-radius: 3px;
    border-width: 1px;
}

form textarea {
    border-color: rgba(128, 128, 128, 0.801);
    border-radius: 3px;
    border-width: 1px;
}

footer {
    font-family: 'Gayathri', sans-serif;
    padding: 1% 0;
    background-color: gray;
    line-height: .2;
}
footer ul {
    font-size: 17px;
    line-height: .5;
}
footer .items {
    list-style: none;
    line-height: .3;
}