* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 1.5;
}

footer {
    padding: 1% 0;
    background-color: gray;
}

footer .items {
    list-style: none;
}

section #first {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
}

section:nth-child(even) {
    background-color: #ddd;
}

form .actions {
    list-style: none;
}